name: Build Android APK

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.9'

    - name: Install Buildozer dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y git zip unzip openjdk-17-jdk python3-pip autoconf libtool pkg-config zlib1g-dev libncurses5-dev libncursesw5-dev libffi-dev libssl-dev cmake
        sudo apt-get install -y libncurses5

    - name: Install Buildozer
      run: pip install buildozer

    - name: Install python-for-android dependencies
      run: pip install "cython==0.29.33" "jinja2"

    - name: Run Buildozer
      run: buildozer android debug

    - name: Upload Artifact (APK)
      uses: actions/upload-artifact@v4
      with:
        name: appwrapper-apk
        path: bin/*.apk